.wrap {
  position: relative;
  width: 0;
  height: 0;
  overflow: hidden;
}

.wrapImage {
  width: 100%;
  height: auto;
  background-color: whitesmoke;
  display: block;
  text-decoration: none;
}

.wrapImage img {
  max-width: 100%;
  height: auto;
  display: block;
}

.wrap::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 177.777777778%;
}

.place {
  background-color: #292929;
  color: #A6A6A6;
  padding: 150px 100px;
  display: grid;
  overflow: visible;
  width: 1080px;
  height: 1920px;
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
}

.head {
  text-align: center;
  text-transform: uppercase;
  font-size: 42px;
  font-weight: bold;
  line-height: 1.2em;
  padding: 20px 0;
}

.foot {
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.2em;
  padding: 20px 0;
}


.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px 0;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}


.subtitle {
  font-weight: bold;
  text-align: center;
  color: white;
  font-size: 32px;
  padding: 0;
}

.artist {
  width: 100%;
  display: grid;
  grid-template-columns: 30px 100px 1fr;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

.artistImage {
  text-align: center;
}

.artistRank {
  font-size: 18px;
  text-align: center;
}

.artistRank span {
  display: block;
  background-color: white;
  width: 30px;
  height: 30px;
  font-weight: bold;
  color: #292929;
  border-radius: 50%;
  line-height: 30px;
  overflow: hidden;
}

.artistImage {
  background-color: black;
  border-radius: 9px;
  overflow: hidden;
}

.artistImage img {
  display: block;
  margin: 0 auto;
  height: auto;
  max-width: 100%;
  max-height: 100px;
}

.artistName {
  font-weight: bold;
  color: white;
  font-size: 22px;
}

.genre {
  width: 100%;
  display: grid;
  grid-template-columns: 30px 1fr;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.genreRank {
  font-size: 18px;
  text-align: center;
}

.genreName {
  font-weight: bold;
  color: white;
  font-size: 20px;
}


.genreRank span {
  display: block;
  background-color: white;
  width: 30px;
  height: 30px;
  font-weight: bold;
  color: #292929;
  border-radius: 50%;
  line-height: 30px;
  overflow: hidden;
}

.genreBar {
  grid-column: 1 / span 2;
  grid-row: 2;
  width: 100%;
  height: 10px;
  background-color: black;
  position: relative;
}

.genreBar div {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: white;
}
